<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Create Post</title>
    <link rel="icon" href="images/SB-logo.ico">
</head>
<body>
    <%- include("partials/header.ejs") %>

    <form class="postForm" action="/submit" method="POST">
        <input type="text" required name="title" maxlength="30" placeholder="Title">
        <textarea type="text" required name="description" placeholder="Description" class="description"></textarea>
        <textarea name="content" required cols="30" rows="10" placeholder="Enter post content" class="content"></textarea>
        <input type="submit" value="Submit">
    </form>
</body>